.main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.img{
    position: relative;
    left: 20px;
   

}


#ex{
    height: 80px;
    width: 200px;
}

#btn{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.banner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.image1{
    float: right;
    border-radius: 50%;
    height: 50px;
    position: relative;
    bottom: 150px;
    padding: 0%;
    

}

.spn{
width: 60px;
border: 1px solid black;
background-color: #424242;
color: white;
text-align: justify;
padding: 10px;
padding-left: 2px;


}

.nbr{

    display: flex;
    
    height: 50px;
    
   
}

.nbr-main{
    display: inline-block;
    position: relative;
    left: 60px;
    top: 2px;
}


#rs{
    width: 40px;
    border: 1px solid black;   
    background-color: #424242;
    color: white;
    padding: 10px;
}

.nav2{
    position: relative;
    bottom: 40px;
    left: 500px;
    gap: 40px;
    display: flex;

}



#n:hover{
    background-color: black;
    color: white;
    
   
}

#n{
    border-radius: 5px;
  
}

.main2{
    background-color: #f1ebeb;
}

.nav-item{
    list-style: none;
}


.us-img{
position: relative;
left: 20px;
height: 560px;
width: 100%;
}


#heading{

   text-align: center;
}


#w{
    width: 200px;
    height: 150px;
    border: 1px solid;
    
}


#n{
    transition: all;

}

#n:hover{
    background-color: black;
    
}
